.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

.bannerWord {
  @media screen and (max-width : 1500px)  {
      display : none;
  }
}