.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.devResourceButton {
  background-color: white;
  box-shadow: 10px 10px 0px black;
  border: 1px solid black;
  transition: all 200ms;

}

.devResourceButton:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translate(10px, 10px);
}

.endpointShadow {
  box-shadow: 10px 10px 0px black;
}

.endpointMainnet {
  border: 1px solid black;
  padding: 0px 83px 0px 101px;
  @media screen and (max-width : 768px) {
    padding: 10px;
  }
}

.endpointTestnet {
  border: 1px solid black;
  padding: 0px 83px 0px 101px;
  @media screen and (max-width : 768px) {
    padding: 10px;
  }
}

.endpointURL {
  border : 1px solid black;
  background-color: white;
  padding : 30px 100px;
  @media screen and (max-width : 768px) {
    padding: 10px;
  }
}

.dropdownRotate { 
  transform: rotate(180deg);
}


.fadeOut {
  animation: fadeout 500ms;
  -moz-animation: fadeout 500ms; /* Firefox */
  -webkit-animation: fadeout 500ms; /* Safari and Chrome */
  -o-animation: fadeout 500ms; /* Opera */
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@-moz-keyframes fadeout { /* Firefox */
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@-o-keyframes fadeout { /* Opera */
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fadeIn {
  animation: fadein 500ms;
  -moz-animation: fadein 500ms; /* Firefox */
  -webkit-animation: fadein 500ms; /* Safari and Chrome */
  -o-animation: fadein 500ms; /* Opera */
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}