.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.devResourceButton {
  background-color: white;
  box-shadow: 10px 10px 0px black;
  border: 1px solid black;
}

.devResourceButton:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translate(10px, 10px);
}

.endpointShadow {
  box-shadow: 10px 10px 0px black;
}

.endpointMainnet {
  border: 1px solid black;
  padding: 0px 83px 0px 101px;
}

.endpointTestnet {
  border: 1px solid black;
  padding: 0px 83px 0px 101px;
}

.endpointURL {
  border : 1px solid black;
  background-color: white;
  padding : 30px 100px;
}

.dropdownRotate { 
  transform: rotate(180deg);
}

