.shadowButton {
  box-shadow: 10px 10px 0px black;
  border: 1px solid black;
  transition: all 200ms;
}

.shadowButton:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translate(10px, 10px);
}

.smallShadowButton {
  box-shadow: 5px 5px 0px black;
  border: 1px solid black;
  transition: all 200ms;
}

.smallShadowButton:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translate(5px, 5px);
}

.onlyAvailablePC {
  color : white;
  background-color: #555454;
  border: 1px solid black;
}

.fadeOut {
  animation: fadeout 500ms;
  -moz-animation: fadeout 500ms;
  /* Firefox */
  -webkit-animation: fadeout 500ms;
  /* Safari and Chrome */
  -o-animation: fadeout 500ms;
  /* Opera */
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {

  /* Firefox */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {

  /* Safari and Chrome */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout {

  /* Opera */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.gameFont {
  font-family: 'Press Start 2P' !important;
}

.convertChangeButton {
  background-image: url('/img/opspage/Main/Convert/convertarrow.svg');
  box-shadow: 3px 3px 0px black;
  width: 46px;
  height: 46px;
  transition: all 200ms;
  border: 1px solid black;
  border-radius: 50%;
}

.convertChangeButton:hover {
  background-image: url('/img/opspage/Main/Convert/converthoverarrow.svg');
  cursor: pointer;
}

.swapChangeButton {
  background-image: url('/img/opspage/Main/Swap/swaparrow.svg');
  box-shadow: 3px 3px 0px black;
  width: 46px;
  height: 46px;
  transition: all 200ms;
  border: 1px solid black;
  border-radius: 50%;
}

.swapChangeButton:hover {
  background-image: url('/img/opspage/Main/Swap/swaphoverarrow.svg');
  transform: none;
  cursor: pointer;
}


@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nYivN04w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nRivN04w.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nWivN04w.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nbivN04w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.convertButtonOn {
  animation: convertButtonOn 500ms;
  -moz-animation: convertButtonOn 500ms;
  /* Firefox */
  -webkit-animation: convertButtonOn 500ms;
  /* Safari and Chrome */
  -o-animation: convertButtonOn 500ms;
  /* Opera */
    background-color: #6600FF;
    animation-fill-mode: forwards;
}

@keyframes convertButtonOn {
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #6600FF;
  }
}

@-moz-keyframes convertButtonOn {

  /* Firefox */
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #6600FF;
  }
}

@-webkit-keyframes convertButtonOn {

  /* Safari and Chrome */
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #6600FF;
  }
}

@-o-keyframes convertButtonOn {

  /* Opera */
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #6600FF;
  }
}

.convertButtonOff {
  animation: convertButtonOff 500ms;
  -moz-animation: convertButtonOff 500ms;
  /* Firefox */
  -webkit-animation: convertButtonOff 500ms;
  /* Safari and Chrome */
  -o-animation: convertButtonOff 500ms;
  /* Opera */
    background-color: #3F3F3F;
    animation-fill-mode: forwards;
}

@keyframes convertButtonOff {
  from {
    background-color: #6600FF;
  }

  to {
    background-color: #3F3F3F;
  }
}

@-moz-keyframes convertButtonOff {

  /* Firefox */
  from {
    background-color: #6600FF;
  }

  to {
    background-color: #3F3F3F;
  }
}

@-webkit-keyframes convertButtonOff {

  /* Safari and Chrome */
  from {
    background-color: #6600FF;
  }

  to {
    background-color: #3F3F3F;
  }
}

@-o-keyframes convertButtonOff {

  /* Opera */
  from {
    background-color: #6600FF;
  }

  to {
    background-color: #3F3F3F;
  }
}

.swapButtonOn {
  animation: swapButtonOn 500ms;
  -moz-animation: swapButtonOn 500ms;
  /* Firefox */
  -webkit-animation: swapButtonOn 500ms;
  /* Safari and Chrome */
  -o-animation: swapButtonOn 500ms;
  /* Opera */
    background-color: #F93AC3;
    animation-fill-mode: forwards;
}

@keyframes swapButtonOn {
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #F93AC3;
  }
}

@-moz-keyframes swapButtonOn {

  /* Firefox */
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #F93AC3;
  }
}

@-webkit-keyframes swapButtonOn {

  /* Safari and Chrome */
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #F93AC3;
  }
}

@-o-keyframes swapButtonOn {

  /* Opera */
  from {
    background-color: #3F3F3F;
  }

  to {
    background-color: #F93AC3;
  }
}

.swapButtonOff {
  animation: swapButtonOff 500ms;
  -moz-animation: swapButtonOff 500ms;
  /* Firefox */
  -webkit-animation: swapButtonOff 500ms;
  /* Safari and Chrome */
  -o-animation: swapButtonOff 500ms;
  /* Opera */
    background-color: #3F3F3F;
    animation-fill-mode: forwards;
}

@keyframes swapButtonOff {
  from {
    background-color: #F93AC3;
  }

  to {
    background-color: #3F3F3F;
  }
}

@-moz-keyframes swapButtonOff {

  /* Firefox */
  from {
    background-color: #F93AC3;
  }

  to {
    background-color: #3F3F3F;
  }
}

@-webkit-keyframes swapButtonOff {

  /* Safari and Chrome */
  from {
    background-color: #F93AC3;
  }

  to {
    background-color: #3F3F3F;
  }
}

@-o-keyframes swapButtonOff {

  /* Opera */
  from {
    background-color: #F93AC3;
  }

  to {
    background-color: #3F3F3F;
  }
}

.infoIcon {
  box-shadow: 5px 5px 0px black;
  border: 1px solid black;
}

.addressEllipsis {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}