.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.ellipsis {
  position: absolute;
  top: 39px;
  left: 0;
  @media screen and (max-width : 768px) {
    display: none;
  }
}

.square {
  position: absolute;
  right: 0;
  top: 145px;
  @media screen and (max-width : 768px) {
    display: none;
  }
}

.card {
  aspect-ratio: 1 / 1;

  @media screen and (max-width : 768px) {
    height : 100px;
    aspect-ratio: 3/1;
  }
}

.mobileImg {
  height : 171px;
  @media screen and (max-width : 768px) {
    height : 100px;
    width: 100px;
    min-width : 100px;
  }
}

.rightBorder { 
  border-right: 1px solid white;
  @media screen and (max-width : 768px) {
    border-right: 0px;
    border-bottom: 1px solid white;
  }
}