.long-arrow {
  z-index: -1;
  display: block;
  margin-top: 60px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-135deg);
}

.long-arrow::after {
  content: "";
  display: block;
  width: 2px;
  height: 70px;
  background-color: black;
  transform: rotate(-45deg) translate(24px, 8px);
  /* transform: rotate(-45deg) translate(31px, 10px); */

  left: 0;
  top: 0;
}

.long-arrow-120 {
  z-index: -1;
  display: block;
  margin-top: 88px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-135deg);
}

.long-arrow-120::after {
  content: "";
  display: block;
  width: 2px;
  height: 120px;
  background-color: black;
  /* transform: rotate(-45deg) translate(24px, 8px); */
  transform: rotate(-45deg) translate(42px, 16px);

  left: 0;
  top: 0;
}

.long-long-arrow {
  z-index: -1;
  display: block;
  margin-top: 230px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-135deg);
}

.long-long-arrow::after {
  content: "";
  display: block;
  width: 2px;
  height: 240px;
  background-color: black;
  /* transform: rotate(-45deg) translate(24px, 8px); */
  transform: rotate(-45deg) translate(84px, 34px);

  left: 0;
  top: 0;
}

.short-line-col {
  z-index: -1;
  display: block;
  margin-top: 20px;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
}

.short-line-col::after {
  content: "";
  display: block;
  width: 2px;
  height: 70px;
  background-color: black;
  transform: rotate(-45deg) translate(24px, 8px);
  /* transform: rotate(-45deg) translate(31px, 10px); */

  left: 0;
  top: 0;
}

.short-arrow {
  z-index: -1;
  display: block;
  margin-top: 38px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-135deg);
}

.short-arrow::after {
  content: "";
  display: block;
  width: 2px;
  height: 38px;
  background-color: black;
  transform: rotate(-45deg) translate(13px, 3px);
  /* transform: rotate(-45deg) translate(31px, 10px); */

  left: 0;
  top: 0;
}

.long-line-col {
  z-index: -1;
  display: block;
  margin-top: 145px;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
}

.long-line-col::after {
  content: "";
  display: block;
  width: 2px;
  height: 200px;
  background-color: black;
  transform: rotate(-45deg) translate(70px, 8px);
  /* transform: rotate(-45deg) translate(31px, 10px); */

  left: 0;
  top: 0;
}

.whitetag {
  line-height: 24px;
  font-size: 14px;
  margin-left: 230px;
  width: fit-content;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0 50%);
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0 50%);
  background: black;
  border: 1px solid black;
  /* or use padding instead of border: */
  /* padding: 10px; */
}


.whitetag-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  width: 200px;
  height: 24px;
  margin: auto;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0 50%);
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0 50%);
  background: white;
}

.whitetag-between {
  line-height: 24px;
  font-size: 14px;
  left : -23px;
  width: fit-content;
  text-align: center;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%);
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%);
  background: black;
  border: 1px solid black;
  /* or use padding instead of border: */
  /* padding: 10px; */
}


.whitetag-between-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 44px;
  margin: auto;
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%);
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%);
  background: white;
}

.whitetag-tutorial {
  line-height: 24px;
  font-size: 14px;
  margin-left: 242px;
  width: fit-content;
  -webkit-clip-path: polygon( 5% 0%, 100% 0%, 100% 100%, 5% 100%, 5% 65%, 0 50%, 5% 35%);
  clip-path: polygon( 5% 0%, 100% 0%, 100% 100%, 5% 100%, 5% 65%, 0 50%, 5% 35%);
  background: black;
  border: 1px solid black;
  /* or use padding instead of border: */
  /* padding: 10px; */
}

.whitetag-tutorial-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  width: 212px;
  height: 72px;
  margin: auto;
  -webkit-clip-path: polygon( 5% 0%, 100% 0%, 100% 100%, 5% 100%, 5% 65%, 0 50%, 5% 35%);
  clip-path: polygon( 5% 0%, 100% 0%, 100% 100%, 5% 100%, 5% 65%, 0 50%, 5% 35%);
  background: white;
}

.tagline {
  z-index: 1;
  margin-bottom: 10px;
  margin-left: 25px;
  width: 26px;
  height: 12px;
  border: 2px solid black;
  border-bottom: 0px;
  border-radius: 12px 12px 0 0;
}
