/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.LogoAcademyLetter > div {
  margin-top: 2px;
  background-image: url('/img/Navbar/AcademyLogo.svg');
  width : 210px;
  height : 33.5px;
}

.LogoAcademyLetter>div:hover {
  background-image: url('/img/Navbar/AcademyLogo-blue.svg');
  transition : background-image 200ms cubic-bezier(0.08, 0.52, 0.52, 1)
}