.registerNow {
  border: 1px solid white;
  padding: 10px 30px;
  color : white;
  font-weight: 400;
  transition: opacity 200ms;
}

.registerNow:hover {
  cursor: pointer;
  opacity: 0.6;
}

.trailblazer {
  background-image: url('/img/JoinCommunity/trailblazer.svg');
  height: 230px;
  @media screen and (max-width : 768px) {
    background-image: none;
    background-color: black;
  }
}

.hackathon {
  background-image: url('/img/JoinCommunity/hackathon-banner.svg');
  height: 230px;
  @media screen and (max-width : 768px) {
    background-image: none;
    background-color: black;
  }
}

.bannerMaxWidth {
  max-width: 1180px !important;
}