.registerNow {
  border: 1px solid white;
  padding: 10px 30px;
  color : white;
  font-weight: 400;
  transition: opacity 200ms;
}

.registerNow:hover {
  cursor: pointer;
  opacity: 0.6;
}

.trailblazer {
  background-image: url('/img/JoinCommunity/trailblazer.svg');
  height: 230px;
}

.bannerMaxWidth {
  max-width: 1180px !important;
}

.devEvents {
  background-image: url('/img/JoinCommunity/devEvents.svg');
  height: 230px;
}