.star {
  position: absolute;
  bottom : 0;
  left : 257px;
  @media screen and (max-width : 1024px) {
    display : none;
  }
}

.earth {
  position: absolute;
  right: 194px;
  top: 0;
  @media screen and (max-width : 1024px) {
    display : none;
  }
}

.heart {
  position: absolute;
  right: -180px;
  top: 0;
  @media screen and (max-width : 1024px) {
    display : none;
  }
}

.contactButton {
  box-shadow: 5px 5px 0px black;
  border: 1px solid black;
}

.contactButton:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translate(5px, 5px);
}
