.star {
  position: absolute;
  bottom : 0;
  left : 257px;

}


.earth {
  position: absolute;
  right: 194px;
  top: 0;
}

.heart {
  position: absolute;
  right: -180px;
  top: 0;
}

.contactButton {
  box-shadow: 5px 5px 0px black;
  border: 1px solid black;
  transition: all 200ms;
}

.contactButton:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translate(5px, 5px);
}

@media screen and (max-width : 1024px) {
  .star {
    display : none;
  }
  .earth {
    display : none;
  }
  .heart {
    display : none;
  }
}